<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="{{ url_for('index') }}">主页</a></li>
            <li><a href="{{ url_for('paper') }}">论文</a></li>
            <li><a href="{{ url_for('project') }}">项目</a></li>
            <li><a href="{{ url_for('course') }}">课程</a></li>
            <li class="notification">
                <!-- 同时通知underfunded_projects和underfunded_courses -->
                <a href="#">通知 <span id="notif-count">{{ underfunded_projects|length + underfunded_courses|length }}</span></a>
                <div class="notif-text">
                    {% for project in underfunded_projects %}
                        <p>项目 {{ project.ProID }}: {{ project.ProName }} 的预算未完全分配.</p>
                    {% endfor %}
                    {% for course in underfunded_courses %}
                        {% if course[2] == 1 %}
                            {% set term = "春季学期" %}
                        {% elif course[2] == 2 %}
                            {% set term = "夏季学期" %}
                        {% else %}
                            {% set term = "秋季学期" %}
                        {% endif %}
                        <p>课程 {{ course[0].CID }}: {{ course[0].CName }} 在 {{ course[1] }} 年 {{ term }} 的总课时数小于该课程总课时数.</p>
                    {% endfor %}
                </div>
            </li>
        </ul>
    </nav>
    <div class="header">
        <img src="../static/head.png" alt="your image" class="header-image">
        <h1 class="title">教师科研登记系统</h1>
    </div>
    <div class="card-container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><img src="../static/icons-open-book.png" class="card-image"> 论文</h5>
                <a href="{{ url_for('paper') }}" class="btn btn-primary">查看</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><img src="../static/icons-microscope.png" class="card-image"> 项目</h5>
                <a href="{{ url_for('project') }}" class="btn btn-primary">查看</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title"><img src="../static/icons-classroom.png" class="card-image"> 课程</h5>
                <a href="{{ url_for('course') }}" class="btn btn-primary">查看</a>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>本项目由 <a href="https://github.com/xuao1" target="_blank">xuao</a> 开发，有问题请联系 <a href="mailto:xuao123@mail.ustc.edu.cn">xuao123@mail.ustc.edu.cn</a></p>
    </div>

    <script src="static/jquery-3.7.0.min.js"></script>
    <script>
    $(document).ready(function(){
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        alert("{{ messages[0] }}");
        {% endif %}
        {% endwith %}
    });
    </script>
</body>
</html>

